.assets-menu {
  border-radius: 15px;
  width: 326px;
  text-align: left;
  padding: 15px;
  margin-bottom: 20px;

  .ant-menu {
    background: #F9FAFC;

    &-root {
      border: none;
      border-radius: 10px;
      padding: 20px;
      color: #2f2f2f;
      font-family: 'Graphik';
    }
  }


  .ant-menu-item:hover,
  .ant-menu-submenu-title:hover {
    color: #7CB342 !important;
  }

  .ant-menu-submenu-selected {
    color: #7CB342 !important;

    &:hover {
      color: white;
    }
  }

  .ant-menu-item-selected {
    background: #7CB342 !important;
    border-radius: 5px;
    color: white;

    &:after {
      border: none;
    }

    &:hover {
      color: white !important;
    }
  }

  .ant-menu-submenu-title .ant-menu-submenu-arrow::before,
  .ant-menu-submenu-title .ant-menu-submenu-arrow::after {
    width: 0;
  }

  .ant-menu-submenu-arrow {

    &::before,
    &::after {
      width: 0;
    }
  }

  .ant-menu-item svg,
  .ant-menu-submenu-title svg {
    margin-right: 10px;
  }

  @media screen and (max-width: 600px) {
    display: none;
  }

  &-mobile {
    display: none;

    &.scroll {
      box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    }

    @media screen and (max-width: 600px) {
      background: #f9fafc;
      display: block;
      padding: 0;
      height: 53px;
      padding: 15px 25px;
      position: fixed;
      width: 100%;
      top: 75px;
      line-height: 16px;

      .assets-menu-mobile-item {
        margin-right: 20px;
        color: #363636;
        text-decoration: none;

        span {
          vertical-align: text-bottom;
        }

        &:first-child {
          color: #8d8d8d;
        }

        &:after {
          content: '';
          position: absolute;
          background: url('/static/img/menu_mobile_split.png') no-repeat center center;
          background-size: 100% 100%;
          width: 11px;
          height: 26px;
          margin-left: 3px;
        }
      }
    }
  }

  &-heading {
    font-family: 'Graphik';
    font-size: 12px;
    line-height: 120%;
    color: #88d20f;
    margin-bottom: 14px;
    padding-left: 18px;
    padding-top: 25px;
  }

  &-item {
    padding: 8px 17px;
    font-family: 'Graphik';
    font-size: 14px;
    line-height: 25px;
    border-radius: 5px;
    width: 100%;
    color: #363636;
    cursor: pointer;

    span {
      margin-left: 10px;
    }

    &.active {
      background: #7cb342;
      color: white;
    }

    &:hover {
      background: #eff2f7;
      color: #363636;
    }

    &.child {
      margin-left: 31px;
      width: calc(100% - 31px);
    }
  }
}