.assets-page {
  &-content {
    overflow: auto;
    padding-top: 100px;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 600px) {
      display: block;
    	padding-top: 80px;
    }

    &-right {
      width: 880px;
      margin-left: 56px;

      @media screen and (max-width: 600px) {
        margin-left: 25px;
        margin-right: 25px;
        width: auto;
      }
    }
  }
}