.section-1 {
  height: 100vh;
  background: linear-gradient(180deg, #1a8293 0%, rgb(182, 220, 226) 100%);
  background: -webkit-linear-gradient(180deg, #1a8293 0%, rgb(182, 220, 226) 100%);
  background: -o-linear-gradient(180deg, #1a8293 0%, rgb(182, 220, 226) 100%);
  display: flex;

  &::after {
    content: '';
    background: url('../../assets/img/hero_1.png') no-repeat center center;
    width: 100%;
    height: 100vh;
    background-size: 100%;
    position: absolute;
    background-position: left 0 bottom 0;

    @media screen and (max-width: 600px) {
      background: url('../../assets/img/hero_1_mobile.png') no-repeat center center;
      background-position: left 0 bottom 0;
    }
  }

  &-container {
    margin: auto;

    @media screen and (max-width: 600px) {
      margin-left: 30px;
      margin-right: 30px;
    }
  }

  &-title {
    font-family: 'Graphik';
    font-size: 46px;
    line-height: 53px;
    text-align: center;
    color: #ffffff;

    @media screen and (max-width: 600px) {
      font-size: 28px;
      line-height: 120%;
    }
  }

  &-desc {
    margin-top: 28px;
    font-family: 'Graphik';
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
  }

  &-wave {
    display: flex;
    margin-top: 34px;
  }

  &-button {
    background: #ffffff;
    margin: auto;
    margin-top: 27px;
    border-radius: 5px;
    width: 244px;
    height: 68px;
    text-align: center;
    vertical-align: middle;
    font-family: 'Graphik';
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #363636;
    cursor: pointer;
    z-index: 999;
  }

  &-button:hover {
    background-color: #dff5ef;
  }
}

.section-2 {
  background: #fafafa;
  height: 150px;
  display: flex;
}

.section-3 {
  margin-top: 63px;
  margin-left: 98px;
  margin-right: 98px;
  background: white;

  @media screen and (max-width: 600px) {
    margin-top: 30px;
    margin-left: 28px;
    margin-right: 28px;
  }

  .title {
    font-family: 'Graphik';
    font-size: 28px;
    line-height: 50px;
    align-items: center;
    text-align: left;
    color: #19381f;
  }

  .categories {
    margin-left: auto;
    display: flex;

    @media screen and (max-width: 600px) {
      width: 700px;
      overflow-x: auto;
      overflow-y: hidden;

      &::-webkit-scrollbar {
        height: 0;
        background: transparent;
      }
    }

    .category-item {
      font-family: 'Graphik';
      font-size: 18px;
      line-height: 50px;
      text-align: center;
      color: #949494 !important;
      margin-left: auto;

      @media screen and (max-width: 600px) {
        margin-left: 30px;

        &:first-child {
          margin-left: 0;
        }
      }

      &-text {
        cursor: pointer;
        white-space: pre;
      }

      &-text:hover {
        color: #363636 !important;
      }

      &-text.active {
        color: #363636 !important;

        &::after {
          content: '  ';
          width: 80px;
          height: 10px;
          bottom: 0;
          position: absolute;
          background: url('../../assets//img/green_wave.png');
          background-repeat: no-repeat;
          background-size: 100%;
          margin-left: -40px;
        }
      }
    }
  }

  &-background {
    position: absolute;
    width: calc(100% - 184px);
    font-family: 'Graphik';
    line-height: 300px;
    // display: flex;
    align-items: center;
    text-align: center;
    // letter-spacing: 0.025em;
    // color: #e5e5e5;
    height: 250px;
    text-transform: uppercase;
    padding-top: 30px;
    // width: 100%;
    // margin-top: -80px;
    background: -webkit-linear-gradient(#e5e5e5, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .see_all_button {
    width: 212px;
    background: #7cb342;
    border-radius: 5px;
    padding-top: 22px;
    padding-bottom: 21px;
    font-family: 'Graphik';
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.01em;
    color: white;
    cursor: pointer;

    @media screen and (max-width: 600px) {
      color: #88d20f;
      font-family: 'Graphik';
      text-align: center;
      font-size: 16px;
      line-height: 50px;
      padding: 0;
      background: transparent;
    }
  }
}

.section-4 {
  background: #f9fafc;
  height: 134px;
  display: flex;

  @media screen and (max-width: 600px) {
    display: block;
  }

  &-1 {
    width: 372px;
    text-align: right;
    line-height: 134px;
    padding-right: 39px;
    font-size: 18px;

    @media screen and (max-width: 600px) {
      display: block;
      padding-right: 0;
      text-align: center;
      font-size: 16px;
      line-height: 55px;
      width: 100%;
    }
  }

  &-2 {
    width: calc(100% - 372px);
    // display: flex;
    padding-top: 55px;

    @media screen and (max-width: 600px) {
      padding-top: 24px;
      display: block;
      text-align: center;
      width: 100%;
    }
  }
}

.section-5 {
  background: white;
  padding-top: 53px;

  &-title {
    color: #19381f;
    font-family: 'Graphik';
    font-size: 28px;
    line-height: 50px;
    text-align: center;

    @media screen and (max-width: 600px) {
      font-size: 24px;
      line-height: 26px;
      width: 177px;
      margin: auto;
    }
  }

  &-wave {
    height: 30px;
    display: flex;
    margin-top: 10px;

    @media screen and (max-width: 600px) {
      margin-top: 18px;
    }
  }

  &-container {
    padding-left: 166px;
    padding-right: 166px;
    padding-top: 74px;
    display: flex;

    @media screen and (max-width: 600px) {
      padding-left: 50px;
      padding-right: 50px;
      display: block;
    }

    .setup {
      margin-left: auto;
      margin-right: auto;

      @media screen and (max-width: 600px) {
        margin-top: 70px;
      }

      &-img {
        display: flex;

        img {
          margin: auto;
        }
      }

      &-title {
        margin-top: 47px;
        font-family: Graphik;
        font-size: 24px;
        line-height: 50px;
        color: #363636;
        text-align: center;

        @media screen and (max-width: 600px) {
          font-size: 21px;
          line-height: 23px;
        }
      }

      &-desc {
        margin-top: 14px;
        font-family: Graphik;
        font-size: 16px;
        line-height: 25px;
        color: #666666;
        text-align: center;
      }

      &-arrow {
        display: flex;
        width: 77px;

        img {
          margin: auto;
        }

        @media screen and (max-width: 600px) {
          display: none;
        }
      }
    }
  }

  .setup-fast-row {
    margin-top: 64px;
    margin-bottom: 64px;

    @media screen and (max-width: 600px) {
      margin-top: 94px;
      margin-bottom: 94px;
    }
  }
}

.section-6 {
  height: 572px;
  color: white;
  background: url('../../assets/img/hero_2.png') no-repeat center center;
  background-size: 100% 100%;

  @media screen and (max-width: 600px) {
    background: url('../../assets/img/hero_2_mobile.png') no-repeat center center;
    height: 375px;
    background-size: 100% 100%;
  }

  &-container {
    width: 100%;
    height: 572px;
    padding-top: 160px;
    padding-left: 130px;
    background: radial-gradient(73.6% 372.05% at 3.88% 19.32%,
        #000000 0%,
        rgba(0, 0, 0, 0.737709) 26.23%,
        rgba(0, 0, 0, 0.496636) 50.34%,
        rgba(0, 0, 0, 0) 100%);

    @media screen and (max-width: 600px) {
      background: rgba(0, 0, 0, 0.4);
      height: 375px;
      padding-top: 47px;
      padding-left: 0;
    }
  }

  &-title {
    font-family: 'Graphik';
    font-size: 70px;
    line-height: 73px;
    text-align: left;

    @media screen and (max-width: 600px) {
      font-size: 36px;
      line-height: 40px;
      text-align: center;
    }
  }

  &-desc {
    margin-top: 45px;
    text-align: left;
    font-size: 16px;
    line-height: 25px;
    width: 324px;

    @media screen and (max-width: 600px) {
      margin-top: 12px;
      width: 217px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }

  &-footer {
    margin-top: 49px;
    display: flex;

    @media screen and (max-width: 600px) {
      display: block;
    }
  }

  .learn-more {
    font-size: 14px;
    line-height: 25px;
    margin-left: 12px;
    margin-top: 14px;
    cursor: pointer;

    @media screen and (max-width: 600px) {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.section-7 {
  height: 572px;
  background-color: white;
  background: url('../../assets/img/hero_3.png') no-repeat center center;
  background-size: 670px 477px;
  background-position: top 47px right 93px;
  padding: 114px;

  @media screen and (max-width: 600px) {
    background: none;
  }

  &-2 {
    background: white;
    text-align: left;
    padding-top: 60px;
    padding-left: 42px;
    width: 614px;
    height: 364px;
    background: #ffffff;
    box-shadow: -50px 0px 40px rgba(0, 0, 0, 0.03);
    border-radius: 10px;
    margin-left: 130px;

    @media screen and (max-width: 600px) {
      display: none;
    }

    &-title {
      color: #19381f;
      font-family: 'Graphik';
      font-size: 36px;
      line-height: 43px;
    }

    &-desc {
      margin-top: 16px;
      color: #363636;
      font-family: Graphik;
      font-size: 18px;
      line-height: 25px;
    }

    &-footer {
      margin-top: 36px;
      display: flex;
    }

    .gdpr_compliant {
      background: url('../../assets/img/gdpr_compliments.png') no-repeat center center;
      background-size: 100% 100%;
      width: 45px;
      height: 50px;
      margin-left: 33px;
      margin-top: 5px;
      cursor: pointer;
    }

    .onetime_password {
      background: url('../../assets/img/gdpr_compliments.png') no-repeat center center;
      background-size: 100% 100%;
      width: 45px;
      height: 50px;
      margin-top: 5px;
      margin-left: 17px;
      cursor: pointer;
    }

    .ssl_secure {
      background: url('../../assets/img/gdpr_compliments.png') no-repeat center center;
      background-size: 100% 100%;
      width: 45px;
      height: 50px;
      margin-top: 5px;
      margin-left: 17px;
      cursor: pointer;
    }

    .secure_payments {
      background: url('../../assets/img/gdpr_compliments.png') no-repeat center center;
      background-size: 100% 100%;
      width: 45px;
      height: 50px;
      margin-top: 5px;
      margin-left: 17px;
      cursor: pointer;
    }
  }
}

.section-8 {
  background: url('../../assets/img/hero_4.png') no-repeat center center;
  background-size: cover;
  height: 572px;
  color: white;

  @media screen and (max-width: 600px) {
    background: url('../../assets/img/hero_4_mobile.png') no-repeat center center;
    background-size: 100% 100%;
  }

  &-container {
    padding-top: 113px;
    padding-right: 93px;
    width: 100%;
    height: 100%;
    background: radial-gradient(73.6% 372.05% at 103.88% 19.32%,
        #000000 0%,
        rgba(0, 0, 0, 0.737709) 26.23%,
        rgba(0, 0, 0, 0.496636) 50.34%,
        rgba(0, 0, 0, 0) 100%);

    @media screen and (max-width: 600px) {
      padding-top: 80px;
      padding-right: 0;
      background: rgba(0, 0, 0, 0.6);
      display: flex;
    }
  }

  &-box {
    float: right;

    @media screen and (max-width: 600px) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &-title {
    font-family: 'Graphik';
    font-size: 45px;
    line-height: 68px;

    @media screen and (max-width: 600px) {
      font-size: 36px;
      line-height: 40px;
      width: 262px;
      text-align: center;
      margin: auto;
    }
  }

  &-desc {
    margin-top: 49px;
    font-family: 'Graphik';
    font-size: 16px;
    line-height: 25px;

    @media screen and (max-width: 600px) {
      width: 232px;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &-input {
    margin-top: 17px;
    display: flex;
    height: 53px;

    @media screen and (max-width: 600px) {
      display: none;
    }

    .email-input {
      background: white;
      border-radius: 4px;
      padding-left: 20px;
      padding-top: 14px;
      width: 280px;

      input {
        font-size: 14px;
        width: 240px;
        border: none;
        outline: none;
      }
    }

    .button {
      background: #7cb342;
      border-radius: 0px 4px 4px 0px;
      color: white;
      text-align: center;
      width: 135px;
      margin-left: 16px;
      padding-top: 14px;
      cursor: pointer;
    }

    .button:hover {
      background: #94bf66;
    }
  }

  &-apps {
    margin-top: 56px;
    display: flex;

    @media screen and (max-width: 600px) {
      margin-top: 70px;
    }
  }

  .appstore {
    background: url('../../assets/img/appstore.png') no-repeat center center;
    background-size: 100% 100%;
    width: 195px;
    height: 56px;
    margin-right: 30px;
    cursor: pointer;

    @media screen and (max-width: 600px) {
      width: 135px;
      height: 39px;
    }
  }

  .googleplay {
    background: url('../../assets/img/googleplay.png') no-repeat center center;
    background-size: 100% 100%;
    width: 195px;
    height: 56px;
    cursor: pointer;

    @media screen and (max-width: 600px) {
      width: 135px;
      height: 39px;
    }
  }
}