.header {
  position: absolute;
  height: 100px;
  background: transparent;
  color: white;
  display: flex;
  width: 100%;
  z-index: 99;
  position: fixed;
  font-family: 'Graphik';

  &.white {
    background: white;
    color: #363636;
    height: 70px;
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -ms-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  }

  &-container {
    min-width: 1000px;
    margin: auto;
    display: flex;

  }

  &-logo {
    height: 24px;
    cursor: pointer;
  }

  &-menu {
    display: flex;
    margin: auto;

    a {
      margin-right: 60px;
      cursor: pointer;
      color: white;

      &:hover {
        text-decoration: none;
        color: #363636;
      }
    }

    a:last-child {
      margin-right: 0;
    }

    &.white {
      a {
        color: #363636;

        &:hover {
          color: #7cb342;
        }
      }
    }
  }

  &-button {
    margin-left: auto;
    display: flex;
    transition: all 1s ease;
    cursor: pointer;
    button{
      font-family: 'Graphik';
      font-size: 16px;
      line-height: 18px;
      text-align: center;
      transition: all 1s ease;
      padding: 13px 35px;
      color: #363636;
      border: none !important;
      border-radius: 5px !important;
    }
    &.white {
      button{
        color: white;
        background: #363636;
      }
      

      &:hover {
        button{
           color: white;
          background: #363636;
        }
       
      }
    }

    &:hover {
      background: white;
      color: #363636;
    }
  }

  &-mobile-button {
    font-family: 'Graphik';
    font-size: 16px;
    line-height: 18px;
    padding: 10px;
    background: #363636;
    border: 1px solid #363636;
    border-radius: 5px;
  }


  .burger-button {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .header {
    &.white {
      background: white;
      height: 80px;
      position: fixed;
      z-index: 99999;
      height: 75px;
      -webkit-animation: fadein 1s;
      -moz-animation: fadein 1s;
      -ms-animation: fadein 1s;
      -o-animation: fadein 1s;
      animation: fadein 1s;
    }



    &-container {
      min-width: auto;
      margin-left: 28px;
      margin-top: 44px;
      display: flex;
      width: 100%;

      &.white {
        margin-top: auto;
        margin-bottom: auto;
        height: 48px;
      }
    }

    &-container-white {
      margin-top: 28px;
    }

    &-logo {
      height: 27px;
      margin-top: 10px;
      margin-left: 0;
      margin-right: 0;
      cursor: pointer;
    }

    &-menu {
      display: none;
    }



    &-button {
      margin-left: auto;
      margin-top: -5px;

      &.white {
        margin-top: 0;
      }
    }

    .burger-button {
      display: block;
      margin: auto 0px auto 16px;
      width: 30px;
      height: 20px;
      background: url('../../assets/img/hamburger.png') no-repeat center center;
      background-size: 100% 100%;

      &.white {
        background: url('../../assets/img/hamburger_gray.png') no-repeat center center;
        margin-left: 15px;
      }
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


// Header 2

.header2 {
  height: 90px;
  background: white;
  color: #363636;
  display: flex;
  width: 100%;
  z-index: 99;
  position: fixed;
	
	&.scroll{
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
    height: 75px !important;
    &.scroll-desktop{
      @media screen and (max-width: 600px){
        box-shadow: none;
        height: 75px !important;
      }
    }
  }
  &-container {
    min-width: 1000px;
    margin: auto;
    display: flex;
  }

  &-logo {
    height: 30px;
    margin: auto;
    cursor: pointer;
  }

  &-menu {
    display: flex;
    margin: auto;
    font-family: 'Graphik';
    font-size: 17px;
    line-height: 23px;

    a {
      margin-right: 60px;
      color: #363636;
      cursor: pointer;
    }

    a:last-child {
      margin-right: 0;
    }

    &.gray {
      a {
        color: white;
      }
    }
  }

  &-button {
    margin-left: auto;
    display: flex;
    transition: all 1s ease;
    cursor: pointer;
    &.gray {
      button{
        background: white !important;
        color: #363636 !important;
      }
    }
    button{
      font-family: 'Graphik';
      font-size: 16px;
      line-height: 18px;
      text-align: center;
      transition: all 1s ease;
      padding: 13px 35px;
      color: #fff;
      background: #363636;
      font-family: 'Graphik';
      border: 1px solid #363636;
      border: none !important;
      border-radius: 5px !important;
    }
    &.white {
      button{
        color: white;
        background: #363636;
      }
      

      &:hover {
        button{
           color: white;
          background: #363636;
        }
       
      }
    }

    &:hover {
      // background: white;
      // color: #363636;
    }
  }


  &-mobile-button {
    font-family: 'Graphik';
    font-size: 14px;
    line-height: 18px;
    padding: 10px;
    background: #363636;
    color: white;
    border: 1px solid #363636;
    border-radius: 5px;
    display: none;

    @media screen and (max-width: 600px) {
      display: block;
    }
  }

  .burger-button {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .header2 {
    height: 75px;

    &-container {
      min-width: 320px;
      margin-left: 28px;
      margin-top: auto;
      margin-bottom: auto;
      display: flex;
      width: 100%;
      min-width: auto;
    }

    &-container-white {
      margin-top: 28px;
    }

    &-logo {
      height: 23px;
      margin: 0;
      cursor: pointer;
      margin-top: auto;
      margin-bottom: auto;
    }

    &-menu {
      display: none;
    }

    &-button {
      height: 36px;
      &.setup{
        font-size: 12px;
      }
    }

    &-mobile-button {
      margin-left: auto;
      margin-top: -5px;
    }

    .burger-button {
      display: block;
      margin: auto 0px auto 16px;
      width: 30px;
      height: 20px;
      margin-top: 8px;
      background: url('../../assets/img/hamburger_gray.png') no-repeat center center;
      background-size: 100% 100%;
      margin-right: 15px;

      &.gray {
        background: url('../../assets/img/hamburger.png') no-repeat center center;
      }
    }
  }
}