.assets-page-content-right {
  .typography {
    margin-bottom: 50px;

    &-heading {
      font-family: 'Graphik Semibold';
      font-size: 36px;
      line-height: 50px;
      color: #363636;
      text-align: left;
      padding-bottom: 20px;
      border-bottom: 1px solid #e2e2e2;

      @media screen and (max-width: 600px) {
        font-size: 24px;
        line-height: 50px;
        padding-bottom: 0;
        border: none;
        margin-top: 74px;
      }
    }

    &-section {
      padding-top: 33px;

      @media screen and (max-width: 600px) {
        padding-top: 10px;
      }

      &-heading {
        font-family: 'Graphik';
        font-size: 24px;
        line-height: 50px;
        letter-spacing: 0.01em;
        color: #363636;
      }

      &-desc {
        font-family: 'Graphik';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 25px;
        color: #2F2F2F;
      }

      &-content {
        margin-top: 33px;
      }

      &-typeface {
        border: 1px solid #E0E6ED;
        border-radius: 10px;
        padding: 31px 40px;
        font-family: 'Graphik';
        font-size: 16px;
        line-height: 40px;
        letter-spacing: 0.5em;
        color: #000000;
        word-break: break-all;
      }

      &-font {
        padding: 36px 58px;
        background: #FFFFFF;
        border: 1px solid #E0E6ED;
        border-bottom: none;
        border-radius: 0;

        @media screen and (max-width: 600px) {
          padding: 32px 31px;
        }

        &-desc {
          color: #7CB342
        }

        &:first-child {
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 0px;
          border-bottom-left-radius: 0px;
        }

        &:last-child {
          border-top-left-radius: 0px;
          border-top-right-radius: 0px;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          border-bottom: 1px solid #E0E6ED;
        }
      }
    }

  }
}