.assets-page-content-right {
  .components {
    &-heading {
      font-family: 'Graphik';
      font-size: 36px;
      line-height: 50px;
      color: #363636;
      text-align: left;
      padding-bottom: 20px;
      border-bottom: 1px solid #e2e2e2;

      @media screen and (max-width: 600px) {
        font-size: 24px;
        line-height: 50px;
        padding-bottom: 0;
        border: none;
        margin-top: 74px;
      }
    }

    &-content {
      margin-bottom: 95px;
    }

    &-section {
      margin-top: 40px;

      @media screen and (max-width: 600px) {
        margin-top: 10px;
      }

      &-title {
        font-family: 'Graphik';
        font-size: 24px;
        line-height: 50px;
        letter-spacing: 0.01em;
        color: #363636;
        margin-bottom: 10px;

        @media screen and (max-width: 600px) {
          font-size: 18px;
        }
      }

      &-desc {
        font-family: 'Graphik';
        font-size: 16px;
        line-height: 25px;
        color: #363636;
        margin-bottom: 15px;
        width: 100%;

        @media screen and (max-width: 600px) {
          font-size: 14px;
        }
      }
    }

    &-subsection {
      margin-top: 50px;

      &-title {
        font-family: 'Graphik';
        font-size: 21px;
        line-height: 23px;

        color: #676767;

        @media screen and (max-width: 600px) {
          font-size: 18px;
        }
      }

      &-content {
        margin-top: 15px;

        &-header {
          height: 100px;
          background: url('../../../assets/img/assets_header.png') no-repeat center center;
          background-size: 100%;

          @media screen and (max-width: 600px) {
            background: url('../../../assets/img/assets_header_mobile.png') no-repeat center center;
          }
        }

        &-footer {
          background: url('../../../assets/img/assets_footer.png') no-repeat center center;
          background-size: 100%;
          height: 250px;

          @media screen and (max-width: 600px) {
            height: 505px;
            width: 100%;
            background: url('../../../assets/img/assets_footer_mobile.png') no-repeat center center;
          }
        }

        &-bread {
          height: 100px;
          background: url('../../../assets/img/assets_bread.png') no-repeat center center;
          background-size: 100%;

          @media screen and (max-width: 600px) {
            height: 50px;
            width: 100%;
            background: url('../../../assets/img/assets_bread_mobile.png') no-repeat center center;
          }
        }

        &-code {
          height: 100px;
          background: url('../../../assets/img/assets_code.png') no-repeat center center;
          background-size: 100%;
          height: 250px;

          @media screen and (max-width: 600px) {
            height: 350px;
            width: 100%;
            background: url('../../../assets/img/assets_code_mobile.png') no-repeat center center;
          }
        }
      }
    }

    .card {
      background: #ffffff;
      border: 1px solid #e5e9f2;
      border-radius: 10px;
      padding: 25px 25px;
      width: 253px;
      height: 257px;
      margin: 21px;
      cursor: pointer;
      z-index: -1;

      @media screen and (max-width: 600px) {
        margin-left: auto;
        margin-right: auto;
      }

      &:hover {
        box-shadow: 0px 50px 70px rgba(0, 0, 0, 0.05);
      }

      &-img {
        width: 43px;
        height: 34px;
        color: #88d20f;
      }

      &-title {
        margin-top: 28px;
        font-family: 'Graphik';
        font-size: 18px;
        line-height: 20px;
        color: #2b4403;
      }

      &-desc {
        margin-top: 6px;
        font-family: 'Graphik';
        font-size: 16px;
        line-height: 25px;
        color: #3d3d3d;
      }
    }

    .button {
      font-family: 'Graphik';
      font-size: 16px;
      line-height: 18px;
      text-align: center;
      letter-spacing: 0.01em;
      color: #FFFFFF;
      padding: 11px 23px;
      background: #88D20F;
      border-radius: 3px;
      width: fit-content;
      height: fit-content;
      cursor: pointer;
      z-index: -1;

      &.xl {
        padding: 25px 89px;

        @media screen and (max-width: 600px) {
          margin: 0 0 0 30px;
        }
      }

      &.lg {
        padding: 15px 52px;
        margin-left: 30px;

        @media screen and (max-width: 600px) {
          margin: 30px 0 0 80px;
        }
      }

      &.md {
        padding: 11px 23px;
        margin-left: 30px;

        @media screen and (max-width: 600px) {
          margin: 30px 0 0 100px;
        }
      }

      &.sm {
        padding: 7px 23px;
        font-family: 'Graphik';
        font-size: 12px;
        line-height: 13px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        margin-left: 30px;

        @media screen and (max-width: 600px) {
          margin: 30px 0 0 115px;
        }
      }

      &.white {
        border: 1px solid #88D20F;
        color: #88D20F;
        background: white;
      }

      &.inactive {
        background: #F9FAFC;
        border: 1px solid #C0CCDA;
        border-radius: 3px;
        font-family: 'Graphik';
        font-size: 16px;
        line-height: 18px;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: #C0CCDA;
      }

      &.cancel {
        background: #FFFFFF;
        border: 1px solid #BF3100;
        box-sizing: border-box;
        border-radius: 3px;
        font-family: 'Graphik';
        font-size: 16px;
        line-height: 18px;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: #BF3100;
      }

      &.secondary {
        width: 120px;
        text-align: center;
        cursor: pointer;
      }

      &.download,
      &.dropdown {
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        justify-content: space-between;

        &.white {
          border: 1px solid #C0CCDA;
          background: white;
          font-family: Graphik;
          font-size: 16px;
          line-height: 18px;
          text-align: center;
          letter-spacing: 0.06em;
          color: #575A65;
        }
      }
    }

    .label {
      font-family: 'Graphik';
      font-size: 12px;
      line-height: 13px;
      letter-spacing: 0.04em;
      color: #696969;
      margin-bottom: 10px;
    }

    .input {
      width: 320px;
      padding: 17px 20px;
      background: #FFFFFF;
      border: 1px solid #C0CCDA;
      border-radius: 4px;
      display: inline-grid;

      &-container {
        width: fit-content;
      }

      &-title {
        font-family: 'Graphik';
        font-size: 12px;
        line-height: 13px;
        letter-spacing: 0.04em;
        color: #696969;
        margin-bottom: 10px;
      }

      input {
        font-family: 'Graphik';
        font-size: 14px;
        line-height: 15px;
        letter-spacing: 0.04em;
        color: #C0CCDA;
        border: none;

        &:focus {
          outline: none;
        }
      }


      &.focus {
        border: 1px solid #88D20F;
      }

      &.error {
        border: 1px solid #D80027;
      }

      &.find {
        display: flex;
        justify-content: space-between;

        input {
          width: 100%;
        }
      }
    }

    .button-dropdown {
      background: #FFFFFF;
      box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
      border-radius: 4px;
      padding-top: 11px;
      padding-bottom: 11px;

      &-item {
        padding: 10px 35px;
        font-family: 'Graphik';
        font-size: 14px;
        line-height: 15px;
        letter-spacing: 0.04em;
        background: white;
        color: #696969;

        &.active {
          background: #F8F8F8;
          color: #88D20F;
        }
      }
    }

    .input-url {
      display: flex;

      &-caption {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        background: #F9FAFC;
        border: 1px solid #D3DCE6;
        color: #C0CCDA;
        font-size: 14px;
        line-height: 15px;
        padding: 15px 18px;
      }

      &-content {
        padding: 10px;
        border: 1px solid #D3DCE6;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-left: none;

        input {
          border: none;

          &:focus {
            outline: none;
          }
        }
      }
    }

    .textarea {
      width: 320px;
      padding: 17px 20px;
      background: #FFFFFF;
      border: 1px solid #C0CCDA;
      box-sizing: border-box;
      border-radius: 4px;

      textarea {
        border: none;
        outline: none;
        font-family: 'Graphik';
        font-size: 14px;
        line-height: 15px;
        letter-spacing: 0.04em;
        width: 100%;
        height: 100%;
        color: #C0CCDA;
      }
    }
  }
}